.container {
    flex: 1;
    border-radius: 16px;
    border: 1px solid #FFF;
    background: #FFF;
    box-shadow: 0px 2px 31px 13px rgba(10, 63, 142, 0.08);
    margin-top: 26px;
    padding: 19px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 330px);
    overflow-y: auto;
}
